<%= link_to("<< Back to Lists", {:action => 'index'}, :class => 'back-link') %>

<div class="lists delete">
	<h2>Delete List</h2>

	<%= form_for(:list, :url => {:action => 'destroy', :id => @list.id}) do |f| %>

		<p>Are you sure you want to permanently delete this list?</p>

		<h3 class="reference-name"><%= @list.name %></h3>

		<div class="form-buttons">
			<%= submit_tag("Delete List") %>
		</div>
	<% end %>
</div>
